<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Secured UserSpace</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, security, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico"/>
</head>

<body>
<div class="container main">
    <div class="row top primary">
        <div class="four columns">
            <a th:href="index.html" href="../index.html" rel="#home">
                <img th:src="@{/img/adm_nasa_logo.png}" src="//img/adm_nasa_logo.png" class="logo"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/templates/about.html}" href="../about.html" class="menu three columns offset-by-one"
                   alt="About"
                   name="about">About</a>
                <a th:href="@{/templates/portfolio.html}" href="../portfolio.html" class="menu three columns" alt="Work"
                   name="portfolio">Work</a>
                <a th:href="@{/templates/contact.html}" href="../contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>
                </div><!--row oneB-->
            </div><!--row oneA menubar-->
        </div><!--eight columns-->
    </div><!--row top (menu)-->
    <br/>
    <div class="row middle portf" style="overflow: inherit">

        <p>This is a Spring Security-protected page and cannot be accessed except by a pre-registered and
            authorized user...
            <br/>or by a preset test profile (full user accounts next release though database is
            currently live).
        </p>
        <p style="color: #0f6b82">You are now authorized to access this URL so long as transient memory persists.</p>
    </div>
    <div>
        <form action="/logout" th:action="@{/logout}" method="post">
            <input type="submit" class="button-primary u-pull-right" value="Logout"/>
        </form>
    </div>

</div><!--container main-->

</body>
</html>