<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{../normalize.css}" href="../normalize.css"/>
    <link rel="stylesheet" th:href="@{../skeleton.css}" href="../skeleton.css"/>
    <link rel="stylesheet" th:href="@{../paleoStyle.css}" href="../paleoStyle.css"/>
    <link rel="icon" type="image/png" href="../../static/psimg/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../static/psimg/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="../../static/psimg/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../static/psimg/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../../static/psimg/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="../../static/psimg/favicon.ico">
    <title>PaleoSun Portfolio</title>

</head>

<body style="text-align: center; margin: 40vh">
[PaleoSun Portfolio]
</body>
</html>