body {
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0; /*position: relative;*/
}

h3 {
    background-color: darkslategray;
    opacity: .8;
    color: white;
    margin: 0;
    padding: 0.25em 1em;
}

.main {
    height: 100vh;
    /*position: relative;*/
}

#outcome {
    font-size: 5vmax;
    margin: 0;
}

#outcome.win {
    color: green;
}

#outcome.lose {
    color: red;
}

#outcome.tie {
    color: blue;
}

.transparent {
    width: 100%;
    height: 100%;
}

#game {
    margin: 1em auto;
    height: 100%;
}

#game > div {
    max-width: 397px;
    width: 45%;
    display: inline-block;
    border: 5px solid black;
    background-color: #EEEEEE;
    background-image: url(/static/img/questionMark.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#game > div.rock {
    background-image: url(/static/img/rock.png);
}

#game > div.paper {
    background-image: url(/static/img/paper.png);
}

#game > div.scissors {
    background-image: url(/static/img/scissors.png);
}

.score {
    font-size: large;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 4;
}

#actionForm {
    font-size: 150%;
    padding: 0.25em;
}

#actionForm div {
    display: inline-block;
}

#actionForm button {
    font-size: 100%;
    margin-top: 0.25em;
}

@media (max-width: 450px) {
    #game > div {
        width: 90%;
        margin: auto;
    }

    #actionForm button {
        font-size: 85%;
    }

    #outcome {
        font-size: 8vmax
    }
}