<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>404 Error</title>

    <link rel="preload" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="preload" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="preload" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css" as="style"/>
    <!--preload map, change BODY link too if needed:-->
    <link rel="preload"
          th:href="@{'https://www.google.com/maps/embed/v1/place?key='+${gMap}+'&amp;q='+${offAddy}+'&amp;zoom=13'}"
          href="https://www.google.com/maps/embed/v1/" as="document"/>
    <link rel="preload"
          th:src="@{https://earth.nullschool.net/#2018/02/13/1800Z/wind/isobaric/850hPa/overlay=total_precipitable_water/orthographic=-49.04,17.14,142}"
          src="https://earth.nullschool.net/#2018/02/13/1800Z/wind/isobaric/850hPa/overlay=total_precipitable_water/orthographic=-49.04,17.14,142"/>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html, css, spring, boot, responsive, aws, ec2, api, blockchain, bitcoin, ethereum, ovijive, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, freelance, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="an exemplary example of a fully responsive Java web stack"/>


    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png"/>
    <link rel="manifest" href="../static/img/site.webmanifest"/>
    <link rel="mask-icon" href="../static/img/safari-pinned-tab.svg" color="#b0c4de"/>
    <meta name="msapplication-TileColor" content="#b0c4de"/>
    <meta name="theme-color" content="#b0c4de"/>

    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>
    <!--<script th:src="@{/scripts/jquery-3.2.1.min.js}"-->
    <!--src="/static/scripts/jquery-3.2.1.min.js"></script>-->
    <script th:src="@{https://platform.linkedin.com/badges/js/profile.js}"
            src="https://platform.linkedin.com/badges/js/profile.js" async="defer"></script>

</head>

<body>
<div class="container">

    <div class="row" style="margin: auto">
        <div class="12 columns" style="text-align: center">
            [403 Error / Access Denied]
        </div>
    </div>

    <!--Nav to main Index:-->
    <div class="row bottom nav">
        <a th:href="@{index.html}" href="index.html" rel="#home">
            <img th:src="@{/img/adm_nasa_logo.png}" src="/static/img/adm_nasa_logo.png" class="nav logo small shade"
                 alt="ADM logo"/></a>
    </div>

</div><!--container-->
</body>
</html>