<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>About stuff</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/static/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/static/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <!--keep Oldwell:-->
    <link rel="shortcut icon" href="/static/img/oldWellFav.png"/>
    <link rel="icon" type="image/png" href="/static/img/oldWellFav.png"/>
</head>

<body>
<div class="container main">
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img src="/static/img/adm_nasa_logo.png" class="logo"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" alt="About"
                   name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns" alt="Portfolio"
                   name="portfolio">Portfolio</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>

                </div><!--row oneB-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top-->
    <br/>

    <div class="row middle primary">
        <p>This_DeMo is a portable Spring Boot application built on Java 1.7 and clearly hosted on AWS.</p>
        <p>Its controllers return MVC templates in addition to static hosting and a somewhat promising RESTful
            service.</p>
        <p>The application is Maven-packaged as a single JAR executable file (WAR available on request).</p>
        <p>Contained herein are a configurable Tomcat server, an underutilized pSQL database, and a seasoned
            understanding
            of this web stack. </p>
        <p>Each client-side UI template is rendered responsively and should compile on any device.</p>
        <p>The content and effects are hand-coded from CSS and HTML code on a Skeleton frame.</p>

    </div>


</div><!--container-->

</body>
</html>