<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <title>Contact</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/oldWellFav.png"/>
    <link rel="icon" type="image/png" href="/static/img/oldWellFav.png"/>

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async="defer"></script>

</head>

<body>
<div class="container main">

    <!--standard menu:-->
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/adm_nasa_logo.png}" src="../static/img/adm_nasa_logo.png" class="logo"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" alt="About"
                   name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns" alt="Portfolio"
                   name="portfolio">Work</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>

                </div><!--row oneB-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top (menu)-->

    <div class="row middle portf" style="padding: 0">
        <span><h5>Reach out:</h5></span>

        <div class="row">
            <a th:href="@{mailto:andeemor@gmail.com}" href="mailto:andeemor@email.com">Email me. It's free!</a>
        </div>
        <br/>

        <div class="row">
            <div class="two columns offset-by-four">
                <a th:href="@{/ADM17eo.pdf}" href="../public/ADM17eo.pdf" target="_blank">
                    <figure>
                        <img class="icon" th:src="@{/img/pdfIcon.png}" src="../static/img/pdfIcon.png" alt="pdfCV"/>
                        <figcaption>PDF CV</figcaption>
                    </figure>
                </a>
            </div>
            <div class="two columns">
                <a th:href="@{ADM17eo.doc}" href="../public/ADM17eo.doc" target="_blank">
                    <figure>
                        <img class="icon" th:src="@{/img/wordIcon.png}" src="../static/img/wordIcon.png" alt="docCV"/>
                        <figcaption>DOC CV</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <br/>
        <span>
            <a th:href="@{https://www.linkedin.com/pub/andy-moretz/24/a90/5bb}"
               href="https://www.linkedin.com/pub/andy-moretz/24/a90/5bb" target="_blank"
               alt="View Andy Moretz's profile on LinkedIn">
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" class="icon li"/>
            </a></span>
        <br/>
        <!--width="160"-->
        <!--height="25"-->
        <!--border="0" -->
        <br/>
        <span><a th:href="@{https://medium.com/@andrewdmo}" href="https://medium.com/@andrewdmo" target="_blank"><figure><img
                th:src="@{/img/mediumIcon.png}" src="../static/img/mediumIcon.png" class="icon"/><figcaption>Boot Camp Blog</figcaption></figure></a></span>
        <span><a th:href="@{https://github.com/andrewdmo}" href="https://github.com/andrewdmo" target="_blank"><figure><img
                th:src="@{/img/gitlogo.png}" src="../static/img/gitlogo.png" class="icon"/><figcaption>GitHub Repos</figcaption></figure></a></span>
        <br/>
        <div class="row">
            <a th:href="@{'http://ec2-52-206-81-235.compute-1.amazonaws.com:9000'}"
               href="http://ec2-52-206-81-235.compute-1.amazonaws.com:9000">[Current URL]</a>
        </div>
        <div class="row u-max-full-width portf idx">
            <code>http://ec2-52-206-81-235.compute-1.amazonaws.com:9000</code>
        </div>
        <br/>
    </div><!--row middle-->

    <!--Nav to main Index:-->
    <!--<div class="row bottom nav primary">-->
    <!--<a th:href="index" href="index.html" rel="#home">-->
    <!--<img src="/static/img/adm_nasa_logo.png" class="navlogo"-->
    <!--alt="ADM logo"/></a>-->
    <!--</div>-->

</div><!--container-->

</body>
</html>