<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The Error! The Error!</title>
    <link rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/static/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/static/css/paleoStyle.css}" href="/static/css/paleoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/oldWellFav.png"/>
    <link rel="icon" type="image/png" href="/static/img/oldWellFav.png"/>
</head>


<body style="text-align: center; margin: 40vh">
<!--testing TL:-->
<p>[Another painfully generic, yet still touching, ERROR message...]</p>

</body>
</html>