<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>login in here</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html, css, spring, boot, responsive, aws, ec2, api, blockchain, bitcoin, ethereum, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="an exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}"
          href="/static/img/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}"
          href="/static/img/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}"
          href="/static/img/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}"
          href="/static/img/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}"
          href="/static/img/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}"
          href="/static/img/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}"
          href="/static/img/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/android-icon-192x192.png}"
          href="/static/img/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}"
          href="/static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon-96x96.png}"
          href="/static/img/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}"
          href="/static/img/favicon-16x16.png"/>
    <link rel="manifest" href="/static/img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>
    <script th:src="@{/scripts/jquery-3.2.1.min.js}"
            src="/static/scripts/jquery-3.2.1.min.js"></script>
    <script th:src="@{https://platform.linkedin.c¬om/badges/js/profile.js}"
            src="https://platform.linkedin.com/badges/js/profile.js" async="defer"></script>

</head>

<body>
<div class="container">

    <!--standard banner:-->
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/adm_nasa_logo.png}" src="../static/img/adm_nasa_logo.png" class="logo shade"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns"
                   name="portfolio">Work</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" name="blog">Contact</a>

                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>
                </div><!--row oneB-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top-->
    <br/>


    <div class="row middle portf">
        <h4>Login page</h4>
        <h2>Example user:</h2>
        <div class="sp" style="color: #073763"><code>test@test</code><br/><code>test</code></div>
        <br/>
        <h2>Will redirect to a <a th:href="@{/usersecurespace}" href="user/usersecurespace.html">secured page</a>
            (back here until authorized)</h2>
        <div th:if="${param.error}" class="row portf blink" style="color: #901400">
            Invalid username and/or password!
        </div>
        <div th:if="${param.logout}" class="row portf" style="color: #073763">
            You have been logged out.
        </div>
        <br/>
        <!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password"/> <br/>
            <input type="submit" class="button button-primary" value="Log in"/>
        </form>
        <!--(link to Registration-->
        <!--<p><a th:href="@{/index}" href="index.html">Back to home page</a></p>-->

    </div><!--row middle-->
</div><!--container-->

</body>
</html>
