<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Movie SQL: the Return</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/static/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/static/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/oldWellFav.png"/>
    <link rel="icon" type="image/png" href="/static/img/oldWellFav.png"/>
</head>


<body style="text-align: center; margin: 10% 1% 0;">
<div class="container main">
    <div class="row" style="height: 20%">
        <div class="ten columns offset-by-one">
            <H6 style="text-shadow: #33C3F0; text-align: center; background-color: rgba(113,113,113,0.53)">A simple pSQL
                database with linking table.
                Output formats include
                <a href="/pubfiles/vyoo_public_movie.json" target="">
                    <u>JSON</u></a>,
                <a href="/pubfiles/vyoo_public_studio.xml" target="">
                    <u>XML</u></a>, and
                <a href="/pubfiles/vyoo_public_dir_genre_link.sql" target="">
                    <u>SQL Inserts</u></a>
            </H6>
            <p>A globally accessible pSQL DB is present under the hood, but until Spring Security and/or the Nori
                App are live it'll remain as useful as third-row seating.</p>
        </div><!--L column-->
    </div><!--1st row-->

    <div class="row middle portf">
        <div class="twelve columns">
            <a href="index.html" style="height: 80%">
                <img src="/static/img/movie_SQLdiagram.png" alt="pSQL Movie DB Diagram" style="width: 100%"/>
            </a>
        </div><!--R column-->
    </div><!--2nd row-->

</div><!--container-->
</body>
</html>