<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>movieSQL: the Return</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html, css, spring, boot, responsive, aws, ec2, api, blockchain, bitcoin, ethereum, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="an exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}"
          href="/static/img/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}"
          href="/static/img/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}"
          href="/static/img/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}"
          href="/static/img/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}"
          href="/static/img/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}"
          href="/static/img/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}"
          href="/static/img/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-icon-152x152.png}"
          href="/static/img/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/android-icon-192x192.png}"
          href="/static/img/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}"
          href="/static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon-96x96.png}"
          href="/static/img/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}"
          href="/static/img/favicon-16x16.png"/>
    <link rel="manifest" href="/static/img/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>
    <script th:src="@{/scripts/jquery-3.2.1.min.js}"
            src="/static/scripts/jquery-3.2.1.min.js"></script>
    <script th:src="@{https://platform.linkedin.c¬om/badges/js/profile.js}"
            src="https://platform.linkedin.com/badges/js/profile.js" async="defer"></script>

</head>


<body>
<div class="container main noscroll">
    <div class="row" style="height: 30vh; margin:5vh auto 0">
        <div class="ten columns offset-by-one portf">
            <H6>A simple pSQL
                database with linking table.
                Output formats include
                <a th:href="@{public_vyoo_movie.json}" href="/public/public_vyoo_movie.json" target="_blank">
                    <u>JSON</u></a>,
                <a th:href="@{public_vyoo_studio.xml}" href="/public/public_vyoo_studio.xml" target="_blank">
                    <u>XML</u></a>, and
                <a th:href="@{public_vyoo_dir_genre_link.sql}"
                   href="/public/public_vyoo_dir_genre_link.sql" target="">
                    <u>SQL Inserts</u></a>
            </H6>
            <p style="font-size: smaller">
                A globally
                accessible pSQL DB is present under the hood here, and is currently used for user accounts.</p>
        </div><!--L column-->
    </div><!--1st row-->

    <div class="row" style="margin-bottom: 10vh">
        <div class="twelve columns">
            <a th:href="@{http://www.rottentomatoes.com}" href="http://www.rottentomatoes.com">
                <img th:src="@{/img/movie_SQLdiagram.png}" src="../static/img/movie_SQLdiagram.png" class="pic"
                     alt="pSQL Movie DB Diagram"/>
            </a>
        </div><!--R column-->
    </div><!--2nd row-->

    <!--Nav to main Index:-->
    <div class="row bottom nav">
        <a th:href="index.html" href="index.html" rel="#home">
            <img th:src="@{/img/adm_nasa_logo.png}" src="/static/img/adm_nasa_logo.png" class="nav logo small"
                 alt="ADM logo"/></a>
    </div>


</div><!--container-->
</body>
</html>