<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Movie SQL: the Return</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/static/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/static/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico"/>
</head>


<body>
<div class="container main noscroll">
    <div class="row" style="height: 30vh; margin:5vh auto 0">
        <div class="ten columns offset-by-one portf">
            <H6>A simple pSQL
                database with linking table.
                Output formats include
                <a href="../pubfiles/vyoo_public_movie.json" target="">
                    <u>JSON</u></a>,
                <a href="../pubfiles/vyoo_public_studio.xml" target="">
                    <u>XML</u></a>, and
                <a href="../pubfiles/vyoo_public_dir_genre_link.sql" target="">
                    <u>SQL Inserts</u></a>
            </H6>
            <p style="font-size: smaller">
                A globally
                accessible pSQL DB is present under the hood, but until Spring Security and/or Nori are resurrected
                it'll remain as useful as third-row seating.</p>
        </div><!--L column-->
    </div><!--1st row-->

    <div class="row" style="margin-bottom: 10vh">
        <div class="twelve columns">
            <a th:href="@{http://www.rottentomatoes.com}" href="http://www.rottentomatoes.com">
                <img src="../static/img/movie_SQLdiagram.png" class="pic" alt="pSQL Movie DB Diagram"/>
            </a>
        </div><!--R column-->
    </div><!--2nd row-->

    <!--Nav to main Index:-->
    <div class="row bottom nav primary">
        <a th:href="@{/index.html}" href="index.html" rel="#home">
            <img src="../static/img/adm_nasa_logo.png" class="navlogo"
                 alt="ADM logo"/></a>
    </div>


</div><!--container-->
</body>
</html>