<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Portfolioio!</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, html, css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/static/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/static/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/static/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico"/>
</head>

<body>
<div class="container main">

    <!--standard menu:-->
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img src="/static/img/adm_nasa_logo.png" class="logo"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" alt="About"
                   name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns" alt="Portfolio"
                   name="portfolio">Portfolio</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>

                </div><!--row oneB-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top (menu)-->

    <div class="row middle">

        <div class="row portf">

            <div class="row">
                <a class="button button-primary" th:href="@{psindex.html}" href="psindex.html">PaleoDemo</a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{nori.html}" href="nori.html">Nori Notification App
                </a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{rockps.html}" href="rockps.html">Rock, Paper,
                    JavaScript!
                </a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{/restgreeting}" href="//restgreeting">RESTfully Yours
                </a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{mvcgreeting.html}" href="mvcgreeting.html">MVC Query
                    Demo
                </a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{moviesql.html}" href="moviesql.html">Movie SQL: the
                    Return
                </a>
            </div>

            <div class="row">
                <a class="button button-primary" th:href="@{tiystyle.html}" href="tiystyle.html">Restyled page</a>
            </div>
        </div>
    </div><!--middle-->

</div><!--container-->


<!--target=_blank (new window) for PS & Nori-->

</body>
</html>