<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>portfolio thus far...</title>

    <link rel="preload" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="preload" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="preload" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css" as="style"/>
    <!--preload map, change BODY link too if needed:-->
    <link rel="preload"
          th:href="@{'https://www.google.com/maps/embed/v1/place?key='+${gMap}+'&amp;q='+${offAddy}+'&amp;zoom=13'}"
          href="https://www.google.com/maps/embed/v1/" as="document"/>
    <link rel="preload"
          th:src="@{https://earth.nullschool.net/#2018/02/13/1800Z/wind/isobaric/850hPa/overlay=total_precipitable_water/orthographic=-49.04,17.14,142}"
          src="https://earth.nullschool.net/#2018/02/13/1800Z/wind/isobaric/850hPa/overlay=total_precipitable_water/orthographic=-49.04,17.14,142"/>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html, css, spring, boot, responsive, aws, ec2, api, blockchain, bitcoin, ethereum, ovijive, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, freelance, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="an exemplary example of a fully responsive Java web stack"/>


    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="../static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="../static/css/demoStyle.css"/>

    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png"/>
    <link rel="manifest" href="../static/img/site.webmanifest"/>
    <link rel="mask-icon" href="../static/img/safari-pinned-tab.svg" color="#b0c4de"/>
    <meta name="msapplication-TileColor" content="#b0c4de"/>
    <meta name="theme-color" content="#b0c4de"/>

    <script th:src="@{/scripts/viewport.js}" src="../static/scripts/viewport.js"></script>
    <!--<script th:src="@{/scripts/jquery-3.2.1.min.js}"-->
    <!--src="/static/scripts/jquery-3.2.1.min.js"></script>-->
    <script th:src="@{https://platform.linkedin.com/badges/js/profile.js}"
            src="https://platform.linkedin.com/badges/js/profile.js" async="defer"></script>

</head>

<!--body border:-->
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<body>
<div class="container">


    <!--standard banner:-->
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/adm_nasa_logo.png}" src="../static/img/adm_nasa_logo.png" class="logo shadow"
                     alt="ADM logo"/>
            </a>
        </div><!--four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns"
                   name="portfolio">Work</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" name="blog">Contact</a>

                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>
                </div><!--row oneB-->
            </div><!--row oneA menubar-->

        </div><!--eight columns-->
    </div><!--row top-->
    <br/>

    <div class="portf middle">
        <h1 class="portf idx" style="color: #901400">Projects</h1>
    </div>


    <div class="portf middle" style="margin-top: 3vh">

        <h2 class="portf idx">Freelancing</h2>
        <div class="row">

            <div class="six columns">
                <a class="button button-primary portf"
                   th:href="@{http://ec2-54-156-212-170.compute-1.amazonaws.com:8081/ck}"
                   href="http://ec2-54-156-212-170.compute-1.amazonaws.com:8081/ck" target="_blank">professional
                    <br/>
                    <img th:src="@{/img/claudetteThmb.png}" src="../static/img/claudetteThmb.png" class="thumbnails"/>
                </a>
            </div><!--ck-->

            <div class="six columns">
                <a class="button button-primary portf"
                   th:href="@{http://ec2-54-156-212-170.compute-1.amazonaws.com:8081/}"
                   href="http://ec2-54-156-212-170.compute-1.amazonaws.com:8081/" target="_blank">design
                    <br/>
                    <img th:src="@{/img/mmaThmb.png}" src="../static/img/mmaThmb.png" class="thumbnails"/>
                </a>
            </div><!--mma-->
        </div><!--freelancing-->
        <br/>

        <h2 class="portf idx">Blockchain</h2>
        <div class="row">

            <div class="twelve columns">
                <a class="button button-primary portf"
                   th:href="@{http://ec2-54-156-212-170.compute-1.amazonaws.com:7500}"
                   href="http://ec2-54-156-212-170.compute-1.amazonaws.com:7500" target="_blank">live api data
                    <br/>
                    <img th:src="@{/img/oviThmb.png}" src="../static/img/oviThmb.png" class="thumbnails"/>
                </a>
            </div><!--ovijive-->

        </div><!--blockchain-->
        <br/>

        <h2 class="portf idx">Security</h2>
        <div class="row">

            <div class="twelve columns">
                <a class="button button-primary portf" th:href="@{login.html}" href="login.html">Spring Security Demo
                    <br/>
                    <img th:src="@{/img/Spring-Security-logo.png}" src="../static/img/Spring-Security-logo.png"
                         class="thumbnails"/>
                </a>
            </div><!--security-->
        </div><!--security-->
        <br/>

        <h2 class="portf idx">Rest / API</h2>
        <div class="row">

            <div class="six columns">
                <a class="button button-primary portf" th:href="@{nori.html}" href="nori.html">Nori Notification
                    App
                    <br/>
                    <img th:src="@{/img/noriItem.png}" src="../static/img/noriItem.png"
                         class="thumbnails"/>
                </a>
            </div><!--nori-->

            <div class="six columns"><!--RIGHT half 2-->
                <a class="button button-primary portf" th:href="@{restgreeting}" href="">data demo
                    <br/>
                    <img th:src="@{/img/restfulSign.png}" src="../static/img/restfulSign.png"
                         class="thumbnails"/>
                </a>
            </div><!--restful-->
        </div><!--rest/api-->
        <br/>

        <h2 class="portf idx">Back End</h2>
        <div class="row">

            <div class="six columns">
                <a class="button button-primary portf" th:href="@{moviesql.html}" href="moviesql.html">pSQL tabling
                    <br/>
                    <img th:src="@{/img/movie_SQLdiagram.png}" src="../static/img/movie_SQLdiagram.png"
                         class="thumbnails"/>
                </a>
            </div><!--moviesql-->

            <div class="six columns">
                <a class="button button-primary portf" th:href="@{mvcgreeting.html}" href="mvcgreeting.html">MVC
                    Query
                    Demo
                    <br/>
                    <img th:src="@{/img/springMvcLogo.jpeg}" src="../static/img/springMvcLogo.jpeg"
                         class="thumbnails"/>
                </a>
            </div><!--MVC-->
        </div><!--back end-->
        <br/>

        <h2 class="portf idx">Other Languages</h2>
        <div class="row">

            <div class="six columns">
                <a class="button button-primary portf" th:href="@{rockps.html}" href="rockps.html">javascript demo
                    <br/>
                    <img th:src="@{/img/rockpsPic.png}" src="../static/img/jsIcon.jpg"
                         class="thumbnails"/>
                </a>
            </div><!--rockps-->

            <div class="six columns"><!--RIGHT half 4-->
                <a class="button button-primary portf" th:href="@{clojure.html}" href="clojure.html">coffee is
                    for
                    Clojure
                    <br/>
                    <img th:src="@{/img/clojure-syf-x300.png}" src="../static/img/clojure-syf-x300.png"
                         class="thumbnails"/>
                </a>
            </div><!--clojure-->
        </div><!--other languages-->
        <br/>

        <h2 class="portf idx">Front End</h2>
        <div class="row">

            <div class="twelve columns">
                <a class="button button-primary portf" th:href="@{/psindex.html}" href="ps/psindex.html">responsive
                    rebuild
                    <br/>
                    <img th:src="@{/img/paleoThmb.png}" src="../static/img/paleoThmb.png"
                         class="thumbnails"/>
                </a>
            </div><!--paleodemo-->
        </div><!--front end-->


        <!--<a th:href="@{//ip-172-31-22-99.ec2.internal:8081}" href="//ip-172-31-22-99.ec2.internal:8081">-->
        <!--mma @ //ip-172-31-22-99.ec2.internal:8081-->
        <!--</a>-->
        <!--<br/>-->

        <!--<a th:href="@{//ip-172-31-22-99.ec2.internal:7500}" href="//ip-172-31-22-99.ec2.internal:7500">-->
        <!--ovijive @ //ip-172-31-22-99.ec2.internal:7500-->
        <!--</a>-->

        <!--<br/>-->

        <!--<a th:href="@{http://ec2-54-156-212-170.compute-1.amazonaws.com:8081}">-->
        <!--http://ec2-54-156-212-170.compute-1.amazonaws.com:8081/-->
        <!--</a>-->

        <!--<a th:href="@{http://ec2-54-156-212-170.compute-1.amazonaws.com:7500}">-->
        <!--http://ec2-54-156-212-170.compute-1.amazonaws.com:7500/-->
        <!--</a>-->

        <!--<br/>-->

        <!--<a th:href="@{//localhost:8081}" href="//localhost:8081/">-->
        <!--mma @ //localhost:8081-->
        <!--</a>-->
        <!--<br/>-->
        <!--<br/>-->

        <!--<a th:href="@{//ip-172-31-22-99.ec2.internal:8081/ckindex}" href="//ip-172-31-22-99.ec2.internal:8081/ckindex">-->
        <!--ck @ //ip-172-31-22-99.ec2.internal:8081/ckindex-->
        <!--</a>-->

        <!--<br/>-->
        <!--<a th:href="@{//localhost:8081/ckindex}" href="//localhost:8081/ckindex">-->
        <!--ck @ //localhost:8081/ckindex-->
        <!--</a>-->

        <!--maybe later:-->
        <!--<a class="button button-primary portf" th:href="@{tiystyle.html}" href="tiystyle.html">Restyled page-->
        <!--<br/>-->
        <!--<img th:src="@{/img/TIYpage.png}" src="../static/img/TIYpage.png"/>-->
        <!--</a>-->
        <!--</div>-->

    </div><!--middle row-->
</div><!--container-->
<!--target=_blank (new window) for PS & Nori-->

</body>
</html>