<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Portfolioio!</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords"
          content="java, JEE, security, html css, spring, boot, responsive, aws, sql, mvc, maven, thymeleaf, skeleton, mobile, restful, tomcat, javascript, web, developer, programmer, UNC, Asheville, candidate, portfolio, available"/>
    <meta name="description" content="An exemplary example of a fully responsive Java web stack"/>

    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="/static/css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="/static/css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/demoStyle.css}" href="/static/css/demoStyle.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/png" href="/static/img/favicon.ico"/>
</head>

<body>
<div class="container main">

    <!--standard menu:-->
    <div class="row top">
        <div class="four columns">
            <a th:href="index.html" href="index.html" rel="#home">
                <img th:src="@{/img/adm_nasa_logo.png}" src="/static/img/adm_nasa_logo.png" class="logo"
                     alt="ADM logo"/>
            </a>
        </div><!--/four columns-->
        <div class="eight columns">
            <div class="row oneA menubar">
                <a th:href="@{/about.html}" href="about.html" class="menu three columns offset-by-one" alt="About"
                   name="about">About</a>
                <a th:href="@{/portfolio.html}" href="portfolio.html" class="menu three columns" alt="Portfolio"
                   name="portfolio">Work</a>
                <a th:href="@{/contact.html}" href="contact.html" class="menu three columns" alt="Contact"
                   name="blog">Contact</a>
                <!--<a th:href="@{/psarchives.html}" href="psarchives.html" class="menu" alt="Archives" name="archives">Archives</a>-->
                <!--<a th:href="@{/pscontact.html}" href="pscontact.html" class="menu" alt="Contact" name="contact">Contact</a>-->
                <div class="row oneB">
                    <input type="text" class="searchfield u-pull-right" style="border-radius: 15px" alt="Search"
                           name="search"
                           placeholder="'Search'"/>

                </div><!--/row oneB-->
            </div><!--/row oneA menubar-->

        </div><!--/eight columns-->
    </div><!--/row top (menu)-->


    <div class="row middle">
        <div class="row portf">


            <div class="row 1portf">

                <div class="six columns"><!--LEFT half 1-->
                    <a class="button button-primary portf" th:href="@{/psindex.html}" href="ps/psindex.html">PaleoDemo
                        <br/>
                        <img th:src="@{/img/paleoPage.jpg}" src="../static/img/paleoPage.jpg" class="thumbnails portf"/>
                    </a>
                </div><!--/LEFT half 1-->

                <div class="six columns"><!--RIGHT half 1-->
                    <a class="button button-primary portf" th:href="@{login.html}" href="login.html">Login / Security
                        <br/>
                        <img th:src="@{/img/Spring-Security-logo.png}" src="../static/img/Spring-Security-logo.png"
                             class="thumbnails portf" width="300" height="225"/>
                    </a>
                </div><!--/RIGHT half 1-->
            </div><!--/row 1portf-->


            <div class="row 2portf">
                <div class="six columns"><!--LEFT half 2-->
                    <a class="button button-primary portf" th:href="@{nori.html}" href="nori.html">Nori Notification App
                        <br/>
                        <img th:src="@{/img/noriItem.png}" src="../static/img/noriItem.png" class="thumbnails portf"/>
                    </a>
                </div><!--/LEFT half 2-->
                <div class="six columns"><!--RIGHT half 2-->
                    <a class="button button-primary portf" th:href="@{restgreeting}" href="">RESTfully Responded
                        <br/>
                        <img th:src="@{/img/restfulSign.jpg}" src="../static/img/restfulSign.jpeg"
                             class="thumbnails portf" width="180" height="180"/>
                    </a>
                </div><!--/RIGHT half 2-->
            </div><!--/row 2portf-->


            <div class="row 3portf">
                <div class="six columns"><!--LEFT half 3-->
                    <a class="button button-primary portf" th:href="@{mvcgreeting.html}" href="mvcgreeting.html">MVC
                        Query
                        Demo
                        <br/>
                        <img th:src="@{/img/springMvcLogo.jpeg}" src="../static/img/springMvcLogo.jpeg"
                             class="thumbnails portf"/>
                    </a>
                </div><!--LEFT half 3-->
                <div class="six columns"><!--RIGHT half 3-->
                    <a class="button button-primary portf" th:href="@{moviesql.html}" href="moviesql.html">Movie SQL:
                        the
                        Return
                        <br/>
                        <img th:src="@{/img/movie_SQLdiagram.png}" src="../static/img/movie_SQLdiagram.png"
                             class="thumbnails portf"/>
                    </a>
                    <!--</div>row port3-->
                </div><!--RIGHT half 3-->
            </div><!--row 3portf-->


            <div class="row 4portf">
                <div class="six columns"><!--LEFT half 4-->
                    <a class="button button-primary portf" th:href="@{rockps.html}" href="rockps.html">Rock, Paper,
                        JavaScript!
                        <br/>
                        <img th:src="@{/img/rockpsPic.png}" src="../static/img/jsIcon.jpg"
                             class="thumbnails portf"/>
                    </a>
                </div><!--/LEFT half 4-->
                <div class="six columns"><!--RIGHT half 4-->
                    <a class="button button-primary portf" th:href="@{clojure.html}" href="clojure.html">Coffee is for
                        Clojure
                        <br/>
                        <img th:src="@{/img/clojure-syf-x300.png}" src="../static/img/clojure-syf-x300.png"
                             class="thumbnails portf"/>
                    </a>
                </div><!--/RIGHT half 4-->
            </div><!--/row 4 portf-->

            <!--maybe later:-->
            <!--<a class="button button-primary portf" th:href="@{tiystyle.html}" href="tiystyle.html">Restyled page-->
            <!--<br/>-->
            <!--<img th:src="@{/img/TIYpage.png}" src="../static/img/TIYpage.png"/>-->
            <!--</a>-->
        </div>
    </div><!--middle-->
</div><!--container-->
<!--target=_blank (new window) for PS & Nori-->

</body>
</html>